<li{% if page.title == 'Avatars' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/avatars/">Avatars</a></li>
<li{% if page.title == 'Buttons' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/buttons/">Buttons</a></li>
<li{% if page.title == 'Checkboxes' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/checkboxes/">Checkboxes</a></li>
<li{% if page.title == 'Depth' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/depth/">Depth</a></li>
<li{% if page.title == 'Input fields' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/input-fields/">Input fields</a></li>
<li{% if page.title == 'Menus' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/menus/">Menus</a></li>
<li{% if page.title == 'Modal dialogs' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/modal-dialogs/">Modal dialogs</a></li>
<li{% if page.title == 'Radio buttons' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/radio-buttons/">Radio buttons</a></li>
<li{% if page.title == 'Tabs' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/tabs/">Tabs</a></li>
<li{% if page.title == 'Toasts' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/toasts/">Toasts</a></li>
<li{% if page.title == 'Tooltips' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/tooltips/">Tooltips</a></li>
