/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: var(--gray-900);
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Inter var', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: var(--white);
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--gray-200);
    margin: 48px 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

dl {
  display: flex;
  width: 280px;
}

dd {
  font-weight: 500;
  width: 120px;
}

dt {
  margin-right: 24px;
  width: 120px;
}


/* Headings
 ------------------------- */

h1, h2, h3, h4, h5
.h1, .h2, .h3, .h4, .h5 {
 font-family: 'Sohne Regular';
}

h1, .h1,
h2, .h2 {
 margin-top: 64px;
 margin-bottom: 16px;
}
h3, .h3,
h4, .h4 {
 margin-top: 32px;
 margin-bottom: 16px;
}

h5, .h5 {
 margin-top: 24px;
 margin-bottom: 8px;
}

h1:first-child, .h1:first-child,
h2:first-child, .h2:first-child,
h3:first-child, .h3:first-child,
h4:first-child, .h4:first-child,
h5:first-child, .h5:first-child {
  margin-top: 0;
}

h1, .h1 {
 font-size: 40px;
 line-height: 52px;
}

h2, .h2 {
 font-size: 32px;
 line-height: 40px;
}
h3, .h3 {
 font-size: 24px;
 line-height: 32px;
}
h4, .h4 {
 font-size: 18px;
 line-height: 24px;
}

h5, .h5 {
 font-size: 15px;
 font-weight: 600;
 line-height: 22px;
}

pre {
  display: block;
  font-size: 14px;
  font-family: Roboto Mono,Ubuntu Mono,Menlo,Courier,monospace;
  width: auto;
  white-space: pre-wrap;
  font-weight: 500;
  margin: 16px 0;
  background-color: var(--gray-050);
  border-radius: 8px;
  padding: 24px;
}

code {
  font-size: 14px;
  font-weight: 500;
  font-family: SFMono-Medium,SF Mono,Segoe UI Mono,Roboto Mono,Ubuntu Mono,Menlo,Courier,monospace;
  line-height: 1;
  background: var(--gray-050);
  border-radius: 2px;
  color: var(--red-400);
  padding: 3px 6px;
}

a,
a:visited {
  color: var(--blue-500);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 600;
}

.logo {
  width: 219px;
  height: 40px;
}

.logo > a,
.logo > a:hover,
.logo > a:visited {
  text-decoration: none;
}

.nav-logo {
  margin-bottom: 48px;
}

.home-hero {
  max-width: 720px;
  margin: 24px auto 80px auto;
}

.home-hero > h1 {
  color: var(--gray-900);
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  animation-name: animate;
  animation-duration: 0.5s;
  animation-delay: 0;
  transition-timing-function: ease-out;
  animation-fill-mode: both;
}

.home-hero > h2 {
  color: var(--gray-600);
  font-size: 20px;
  font-family: 'Inter var';
  font-weight: 500;
  line-height: 28px;
  margin-top: 24px;
  text-align: center;

  animation-name: animate;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  transition-timing-function: ease-out;
  animation-fill-mode: both;
}

.home-hero > img {
  width: 720px;
  margin-top: 64px;
}

.getting-started-animate,
.foundations-animate,
.components-animate {
  animation-name: animate;
  animation-duration: 0.5s;
  transition-timing-function: ease-out;
  animation-fill-mode: both;
}

.getting-started-animate {
  animation-delay: 0.3s;
}

.foundations-animate {
  animation-delay: 0.5s;
}

.components-animate {
  animation-delay: 0.8s;
}

/* Animation keyframes
-------------------------------- */

@keyframes animate {
  0% {
    opacity: 0;
    transform: translate(0px,10px);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}


/* Separators
-------------------------------- */

span.heading-border {
  background: var(--gray-200);
  width: 32px;
  height: 2px;
  display: block;
  margin: 48px 0;
  border-radius: 2px;
}

.hr {
  background: var(--gray-200);
  width: 48px;
  height: 2px;
  display: block;
  margin: 24px auto;
  border-radius: 2px;
}



/* Do and don't boxes
------------------------- */

.text-do {
  color: var(--green-500);
}
.text-dont {
  color: var(--red-500);
}

.line {
  background: var(--gray-200);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  height: 4px;
  width: 100%;
  position: relative;
  top: 4px;
}

.text-do + .line {
  background: var(--green-500);
}

.text-dont + .line {
  background: var(--red-500);
}


/* Body text
 ------------------------- */

p {
  color: var(--gray-700);
  padding: 0 0 16px;
}


/* Lists
 ------------------------- */

/* Unordered and Ordered lists */

ul,
ol {
  margin: 0 0 24px;
  ul,
  ol {
   margin-bottom: 0;
  }
}


/* Images */

img {
  max-width: 100%;
}

img.example-image {
  border-radius: 8px;
}

img.example-image-border {
  border: 1px solid var(--gray-200);
  border-radius: 8px;
}


/* Lists */

ol.call-outs {
  margin-bottom: 48px;
}

ol.call-outs > li {
  list-style: numbers;
  margin-left: 32px;
  margin-bottom: 8px;
}

li {
  color: var(--gray-700);
}

.main-container > ul > li {
  margin-left: 24px;
}

/* =================================================
  Tables */

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 32px;
}
thead {
  border-bottom: 1px solid var(--gray-200);
}
tr {
  border-bottom: 1px solid var(--gray-200);
}
td,
th {
  border: none;
  padding: 12px 8px;
  text-align: left;
}
th {
  vertical-align: top;
  font-weight: 600;
  font-size: 14px;
  color: var(--gray-600);
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}

.type-scale {
  font-family: 'Inter var', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--gray-800);
}

h1.type-scale {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

h2.type-scale {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

h3.type-scale {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

h4.type-scale {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

h5.type-scale {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.large-ui-text > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-800);

  &:nth-child(2) {
    font-weight: 500;
  }
  &:nth-child(3) {
    font-weight: 600;
  }
}

.medium-ui-text > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-800);

  &:nth-child(2) {
    font-weight: 500;
  }
  &:nth-child(3) {
    font-weight: 600;
  }
}

.small-ui-text > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray-800);

  &:nth-child(2) {
    font-weight: 500;
  }
  &:nth-child(3) {
    font-weight: 600;
  }
}

.mini-ui-text > p {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: var(--gray-800);

  &:nth-child(2) {
    font-weight: 500;
  }
  &:nth-child(3) {
    font-weight: 600;
  }
}

.code-ui-text > p {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: var(--gray-800);
  font-family: Roboto Mono,Ubuntu Mono,Menlo,Courier,monospace;

  &:nth-child(2) {
    font-weight: 600;
  }
}


/* Structure */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: flex-start;
}

#sidebar {
  order: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100vh;
  padding: 48px 0 0 48px;
  position: fixed;
  overflow-y: scroll;
}

#main {
  order: 2;
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.empty-sidebar {
  width: 260px;
  display: invisible;
  height: 100vh;
}

.main-container {
  flex: 1;
  width: 840px;
  margin-top: 112px;
}

.nav-name > li {
  padding-bottom: 8px;
  list-style: none;
}

.nav-name > li > a {
  color: var(--gray-600);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;

  &:hover {
    color: var(--gray-700);
    text-decoration: none;
  }
}

.nav-name > li.nav-active > a {
  color: var(--gray-800);
  font-weight: 600;
}

.nav-section-header {
  color: var(--gray-900);
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 12px 0;
  font-weight: 600;
}

.mobile-header {
  display: none;
}


/* Home page pattern */

.home-pattern {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  max-width: 1440px;
  pointer-events: none;
  min-width: 780px;
  aspect-ratio: 1440 / 1271;
  z-index: -1;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 300px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.992) 6.67%, rgba(255, 255, 255, 0.965) 13.33%, rgba(255, 255, 255, 0.918) 20%, rgba(255, 255, 255, 0.85) 26.67%, rgba(255, 255, 255, 0.77) 33.33%, rgba(255, 255, 255, 0.667) 40%, rgba(255, 255, 255, 0.557) 46.67%, rgba(255, 255, 255, 0.443) 53.33%, rgba(255, 255, 255, 0.333) 60%, rgba(255, 255, 255, 0.23) 66.67%, rgba(255, 255, 255, 0.15) 73.33%, rgba(255, 255, 255, 0.082) 80%, rgba(255, 255, 255, 0.035) 86.67%, rgba(255, 255, 255, 0.008) 93.33%, rgba(255, 255, 255, 0) 100%);
  }

  &::before {
    top: 0px;
  }

  &::after {
    bottom: 0px;
    transform: rotate(180deg);
    height: 200px;
  }
}

.gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  background-image: url(../images/covers/bg-gradient.jpg);
}

.home-pattern .gradient::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 10%;
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 100%);
}

.home-pattern .pattern {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(../images/covers/pattern.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  mix-blend-mode: hard-light;
  opacity: 0.8;
}

/* Avatar examples */


.avatar {
  background-size: cover;
  background-image: url(../images/pages/avatars/avatar-size.png);
  border-radius: 100%;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  margin-right: 16px;
}

.avatar-small {
  height: 24px;
  width: 24px;
}

.avatar-medium {
  height: 32px;
  width: 32px;
}

.avatar-large {
  height: 64px;
  width: 64px;
}

/* Type examples */

.body-one,
.body-two,
.body-three,
.body-four,
.body-five {
  color: var(--ink-200);
  margin: 0;
}

.body-one {
  font-size: 24px;
  line-height: 32px;
}

.body-two {
  font-size: 20px;
  line-height: 28px;
}

.body-three {
  font-size: 16px;
  line-height: 24px;
}

.body-four {
  font-size: 14px;
  line-height: 20px;
}

.body-five {
  font-size: 12px;
  line-height: 16px;
}

.link-one,
.link-two,
.link-three,
.link-four,
.link-five {
  color: var(--teal-400);
  font-weight: 500;
  margin: 0;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: var(--teal-500);
  }
}

.link-one {
  font-size: 24px;
  line-height: 32px;
}

.link-two {
  font-size: 20px;
  line-height: 28px;
}

.link-three {
  font-size: 16px;
  line-height: 24px;
}

.link-four {
  font-size: 14px;
  line-height: 20px;
}

.link-five {
  font-size: 12px;
  line-height: 16px;
}

.section-one,
.section-two,
.section-three {
  color: var(--ink-200);
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-one {
  font-size: 14px;
  line-height: 20px;
}

.section-two {
  font-size: 12px;
  line-height: 16px;
}

.section-three {
  font-size: 10px;
  line-height: 12px;
}


/* Cards */

.card {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: left;
  width: 100%;
  height: 240px;
  border-radius: 12px;
  white-space: normal;
  -webkit-transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  -moz-transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  z-index: 1;
  border: 1px solid rgba(0,0,0,0.03);
}

.card:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,.04);
  transform: translate(0,-2px);
  transition-delay: 0s !important;
}

.card-bg {
  height: 100%;
  border-radius: 12px;
  background: rgba(255,255,255,0.8);
}

// .card-top {
//   height: 180px;
//   border-top-right-radius: 6px;
//   border-top-left-radius: 6px;
//   background: var(--gray-050);
// }

.card-body {
  position: relative;
  clear: both;
  float: left;
  overflow: visible;
  padding: 20px;
  color: var(--gray-600);
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-900);
  padding: 16px 0 6px;
}

// /* Card details */

// .card-getting-started {
//   background-image: url("../images/covers/pattern-bg-01.png");
//   background-color: var(--white);
//   background-size: 260px;
// }

// .card-foundations {
//   background-image: url("../images/covers/pattern-bg-02.png");
//   background-color: var(--white);
//   background-size: 260px;
// }

// .card-components {
//   background-image: url("../images/covers/pattern-bg-03.png");
//   background-color: var(--white);
//   background-size: 260px;
// }

/* Swatches
================================================================ */

.color-swatch {
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
}

.color-swatch-header {
  position: relative;
  height: 0;
  padding-bottom: 100px;
  border-radius: 8px 8px 0 0;
  border: 1px solid transparent;
}

.color-swatch-body {
  padding: 0 16px 16px 16px;
  font-size: 14px;

  & .nav-section-header {
    color: var(--gray-600);
  }
}

.color-swatch-body > h5 {
  margin-top: 12px;
  margin-bottom: 0px;
}
.color-swatch-table {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid transparent;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

// Blue

.color-swatch-blue-025 {
  background-color: var(--blue-025);
}
.color-swatch-blue-050 {
  background-color: var(--blue-050);
}
.color-swatch-blue-100 {
  background-color: var(--blue-100);
}
.color-swatch-blue-200 {
  background-color: var(--blue-200);
}
.color-swatch-blue-300 {
  background-color: var(--blue-300);
}
.color-swatch-blue-400 {
  background-color: var(--blue-400);
}
.color-swatch-blue-500 {
  background-color: var(--blue-500);
}
.color-swatch-blue-600 {
  background-color: var(--blue-600);
}
.color-swatch-blue-700 {
  background-color: var(--blue-700);
}
.color-swatch-blue-800 {
  background-color: var(--blue-800);
}
.color-swatch-blue-900 {
  background-color: var(--blue-900);
}

// Yellow

.color-swatch-yellow-025 {
  background-color: var(--yellow-025);
}
.color-swatch-yellow-050 {
  background-color: var(--yellow-050);
}
.color-swatch-yellow-100 {
  background-color: var(--yellow-100);
}
.color-swatch-yellow-200 {
  background-color: var(--yellow-200);
}
.color-swatch-yellow-300 {
  background-color: var(--yellow-300);
}
.color-swatch-yellow-400 {
  background-color: var(--yellow-400);
}
.color-swatch-yellow-500 {
  background-color: var(--yellow-500);
}
.color-swatch-yellow-600 {
  background-color: var(--yellow-600);
}
.color-swatch-yellow-700 {
  background-color: var(--yellow-700);
}
.color-swatch-yellow-800 {
  background-color: var(--yellow-800);
}
.color-swatch-yellow-900 {
  background-color: var(--yellow-900);
}

// Green

.color-swatch-green-025 {
  background-color: var(--green-025);
}
.color-swatch-green-050 {
  background-color: var(--green-050);
}
.color-swatch-green-100 {
  background-color: var(--green-100);
}
.color-swatch-green-200 {
  background-color: var(--green-200);
}
.color-swatch-green-300 {
  background-color: var(--green-300);
}
.color-swatch-green-400 {
  background-color: var(--green-400);
}
.color-swatch-green-500 {
  background-color: var(--green-500);
}
.color-swatch-green-600 {
  background-color: var(--green-600);
}
.color-swatch-green-700 {
  background-color: var(--green-700);
}
.color-swatch-green-800 {
  background-color: var(--green-800);
}
.color-swatch-green-900 {
  background-color: var(--green-900);
}

// Red

.color-swatch-red-025 {
  background-color: var(--red-025);
}
.color-swatch-red-050 {
  background-color: var(--red-050);
}
.color-swatch-red-100 {
  background-color: var(--red-100);
}
.color-swatch-red-200 {
  background-color: var(--red-200);
}
.color-swatch-red-300 {
  background-color: var(--red-300);
}
.color-swatch-red-400 {
  background-color: var(--red-400);
}
.color-swatch-red-500 {
  background-color: var(--red-500);
}
.color-swatch-red-600 {
  background-color: var(--red-600);
}
.color-swatch-red-700 {
  background-color: var(--red-700);
}
.color-swatch-red-800 {
  background-color: var(--red-800);
}
.color-swatch-red-900 {
  background-color: var(--red-900);
}

// Gray

.color-swatch-gray-025 {
  background-color: var(--gray-025);
}
.color-swatch-gray-050 {
  background-color: var(--gray-050);
}
.color-swatch-gray-100 {
  background-color: var(--gray-100);
}
.color-swatch-gray-200 {
  background-color: var(--gray-200);
}
.color-swatch-gray-300 {
  background-color: var(--gray-300);
}
.color-swatch-gray-400 {
  background-color: var(--gray-400);
}
.color-swatch-gray-500 {
  background-color: var(--gray-500);
}
.color-swatch-gray-600 {
  background-color: var(--gray-600);
}
.color-swatch-gray-700 {
  background-color: var(--gray-700);
}
.color-swatch-gray-800 {
  background-color: var(--gray-800);
}
.color-swatch-gray-900 {
  background-color: var(--gray-900);
}

// Orange

.color-swatch-orange-025 {
  background-color: var(--orange-025);
}
.color-swatch-orange-050 {
  background-color: var(--orange-050);
}
.color-swatch-orange-100 {
  background-color: var(--orange-100);
}
.color-swatch-orange-200 {
  background-color: var(--orange-200);
}
.color-swatch-orange-300 {
  background-color: var(--orange-300);
}
.color-swatch-orange-500 {
  background-color: var(--orange-500);
}
.color-swatch-orange-700 {
  background-color: var(--orange-700);
}

// Plum

.color-swatch-plum-025 {
  background-color: var(--plum-025);
}
.color-swatch-plum-050 {
  background-color: var(--plum-050);
}
.color-swatch-plum-100 {
  background-color: var(--plum-100);
}
.color-swatch-plum-200 {
  background-color: var(--plum-200);
}
.color-swatch-plum-300 {
  background-color: var(--plum-300);
}
.color-swatch-plum-500 {
  background-color: var(--plum-500);
}
.color-swatch-plum-700 {
  background-color: var(--plum-700);
}

/* Videos */

.demo-video {
    cursor: pointer;
    position: relative;
    line-height: 0;
}

.demo-video:before {
    background: #000;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.2s;
    opacity: 0;
    border-radius: 5px;
}

.demo-video.demo-video-paused:before {
    background: #000 url('../videos/play.svg') no-repeat center center;
    background-size: 72px 72px;
    opacity: 0.4;
}

.demo-video.demo-video-hover:before {
    background: #000 url('../videos/pause.svg') no-repeat center center;
    background-size: 72px 72px;
    opacity: 0.2;
}

.demo-video > video {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.youtube-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.youtube-video iframe,
.youtube-video object,
.youtube-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ==========================================================================
   Status pills
   ========================================================================== */

.status {
  display: inline-block;
  border: 1px solid var(--gray-200);
  border-radius: 32px;
  height: 32px;
  padding: 2px 16px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  margin-right: 8px;
  margin-top: 16px;
}

.status > div {
  display: inline-block;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  display: inline-block;
  margin: 0 4px 1px 8px;
}


.status-available {
  color: var(--green-500);

  & .dot {
    background: var(--green-500);
  }
}

.status-not-started {
  color: var(--red-500);

  & .dot {
    background: var(--red-500);
  }
}

.status-in-progress {
  color: var(--orange-500);

  & .dot {
    background: var(--orange-500);
  }
}



/* ==========================================================================
   iframe content
   ========================================================================== */


.iframe-buttons {
  border: 1px solid var(--gray-200);
  height: 300px;
  width: 100%;
  margin: 8px 0 32px 0;
}




/* ==========================================================================
   Pagination nav
   ========================================================================== */

.row.pagination-links {
  margin-left: 0;
  margin-right: 0;
}

.pagination-links {
  background: var(--gray-050);
  border-radius: 8px;
  margin: 120px 0 40px 0;

  & > .col {
    padding: 0;
  }
}

a.next-previous-links:hover {
  text-decoration: none;
}

.next,
.previous {
  padding: 24px;
  color: var(--gray-600);
}

.next {
  text-align: right;
}

a.next-previous-links:hover > .next > .title,
a.next-previous-links:hover > .previous > .title {
  color: var(--blue-500);
}

.title {
  color: var(--gray-900);
  font-weight: 500;
  font-size: 16px;
}

.next > .title {
  margin-right: 24px;
}

.previous > .title {
  margin-left: 24px;
}

.icon-20 {
  display: inline-block;
  margin: -4px 0;
  width: 20px;
  height: 20px;
}

.icon-20-chevron-right {
    background: url('../images/icons/icon-20-right-chevron.png') no-repeat;
    background-size: 100%;
}

.icon-20-chevron-left {
    background: url('../images/icons/icon-20-left-chevron.png') no-repeat;
    background-size: 100%;
}



/* ==========================================================================
   Buttons
   ========================================================================== */

a.btn {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 7px 10px;
  background: var(--gray-050);
  border: 1px solid;
  border-radius: 6px;
  color: var(--gray-800);

  &:hover {
    background-color: var(--gray-100);
    color: var(--gray-900);
    text-decoration: none;
  }
}

.btn-primary {
  background: var(--blue-500);
  border-color: transparent;
  color: var(--white);

  &:hover {
    background: var(--blue-700);
    color: var(--white);
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

 @media (max-width: 1100px) {

   .main-container {
     max-width: 840px;
   }

 }

 @media (max-width: 1099px) {

   .main-container {
     width: 90%;
   }

   .empty-sidebar {
     display: none;
   }

   .mobile-header {
     background-color: rgba(255,255,255,0.85);
     height: 56px;
     width: 100%;
     display: flex;
     border-bottom: 1px solid rgba(0,0,0,0.05);
     position: fixed;
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     -moz-backdrop-filter: blur(5px);
     z-index: 50;
   }

   .mobile-header-logo {
     align-self: center;
     flex: auto;
     margin-left: 24px;
   }

   .atlwdg-trigger.atlwdg-SUBTLE {
     display: none;
   }

 }

 @media (max-width: 800px) {

   .home-hero > h1 {
     font-size: 44px;
     line-height: 1.3;
   }

 }
