
/* Colors  -------------------*/

:root {
  --tiny-spacing: 4px;
  --base-spacing: 8px;
  --small-spacing: 16px;
  --medium-spacing: 24px;
  --large-spacing: 32px;
  --xlarge-spacing: 48px;
  --xxlarge-spacing: 64px;

  --neutral-100: #ffffff;
  --neutral-200: #f6f7fb; /* canvas background */
  --neutral-300: #edeff4; /* dividers */
  --neutral-400: #d9dde8; /* button and form borders */
  --neutral-500: #939bb4; /* incidental text and icons */

  --ink-100: #646f90; /* secondary text */
  --ink-200: #303545; /* primary text */
	--ink-300: #282E3E;
  --ink-400: #1A1D28;
  --ink-500: #13141B;

  --indigo-100: #eff3fb;
  --indigo-200: #cedaf3;
  --indigo-300: #7b89c9;
  --indigo-400: #4257b2;
  --indigo-500: #3b4c9b;

  --teal-100: #e7f9f9;
  --teal-200: #cff3f3;
  --teal-300: #77dddd;
  --teal-400: #3ccfcf;
  --teal-500: #28a7a7;

  --yellow-100: #fff9e3;
  --yellow-200: #ffedab;
  --yellow-300: #ffdc62;
  --yellow-400: #ffcd1f;
  --yellow-500: #997700;

  --orange-100: #fff8f0;
  --orange-200: #fce1c0;
  --orange-300: #f5ab4c;
  --orange-400: #f08700;
  --orange-500: #965501;

  --green-100: #f2fbf6;
  --green-200: #c8ecdb;
  --green-300: #65c999;
  --green-400: #23b26d;
  --green-500: #19804f;

  --coral-100: #fff3f1;
  --coral-200: #ffdcd6;
  --coral-300: #ff9c8c;
  --coral-400: #ff725b;
  --coral-500: #c34632;


  --table-header-color: var(--ink-100);
  --primary-text-color: var(--ink-200);
  --secondary-text-color: var(--ink-100);
  --tertiary-text-color: var(--neutral-500);
  --app-background-color: var(--neutral-100);
  --main-border-color: var(--neutral-300);
  --active-text-color: var(--teal-400);
  --pagination-background: var(--neutral-200);
  --color-examples-background: var(--neutral-200);
  --logo-color: var(--indigo-400);
  --do-example-color: var(--green-400);
  --dont-example-color: var(--coral-400);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --table-header-color: var(--ink-300);
//     --primary-text-color: var(--neutral-400);
//     --secondary-text-color: var(--ink-100);
//     --tertiary-text-color: var(--ink-100);
//     --app-background-color: var(--ink-500);
//     --main-border-color: var(--ink-200);
//     --active-text-color: var(--indigo-300);
//     --pagination-background: var(--ink-400);
//     --color-examples-background: var(--ink-400);
//     --logo-color: var(--indigo-300);
//     --do-example-color: var(--green-300);
//     --dont-example-color: var(--coral-300);
//   }
// }


/* Fonts  -------------------*/

@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

@font-face {
  font-family: "Messina Sans Regular";
  src: url("../fonts/MessinaSansWeb-Regular.woff2") format("woff2"),
       url("/fonts/MessinaSansWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "Messina Sans Bold";
  src: url("../fonts/MessinaSansWeb-Bold.woff2") format("woff2"),
       url("/fonts/MessinaSansWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "Sohne Bold";
  src: url("../fonts/soehne-web-dreiviertelfett.woff2") format("woff2"),
       url("/fonts/soehne-web-dreiviertelfett.woff") format("woff"),
       url("/fonts/soehne-web-dreiviertelfett.eot") format("eot");
}

@font-face {
  font-family: "Sohne Regular";
  src: url("../fonts/soehne-web-halbfett.woff2") format("woff2"),
       url("/fonts/soehne-web-halbfett.woff") format("woff"),
       url("/fonts/soehne-web-halbfett.eot") format("eot");
}
