---
layout: default
section: Components
title: Avatars
previous: Typography
previous-path: foundations/typography
next: Buttons
next-path: components/buttons
---

<h2>{{ page.title }}</h2>

<span class="heading-border"></span>

<p>We use round avatars to quickly identify users on the Retool platform. No other entity or container should be expressed in a circular shape to avoid confusion between a user and another object type.</p>

<h3>Usage</h3>

<div class="row">
  <div class="col">
    <table>
      <thead>
        <tr>
          <th width="15%">Name</th>
          <th width="15%">Size</th>
          <th width="20%">Avatar</th>
          <th>Example usage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Small</td>
          <td>24px</td>
          <td>
            <div class="avatar avatar-small"></div>
          </td>
          <td>Typeahead menus, meta data on card containers</td>
        </tr>
        <tr>
          <td>Medium</td>
          <td>32px</td>
          <td>
            <div class="avatar avatar-medium"></div>
          </td>
          <td>User profile dropdown menu, or when viewing a list of users in a table (i.e. class members)</td>
        </tr>
        <tr>
          <td>Large</td>
          <td>48px</td>
          <td>
            <div class="avatar avatar-large"></div>
          </td>
          <td>Set page author details</td>
        </tr>
        <tr>
          <td>X-Large</td>
          <td>64px</td>
          <td>
            <div class="avatar avatar-xlarge"></div>
          </td>
          <td>Profile page headers</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3>Default user avatars</h3>
<p>We provide users with 20 default avatars to choose from in settings. If they don't upload a profile avatar during sign up, one of these defaults will be automatically added to their account.</p>

<div class="row">
  <div class="col">
    <div class="avatar avatar-large avatar-01"></div>
    <div class="avatar avatar-large avatar-02"></div>
    <div class="avatar avatar-large avatar-03"></div>
    <div class="avatar avatar-large avatar-04"></div>
    <div class="avatar avatar-large avatar-05"></div>
    <div class="avatar avatar-large avatar-06"></div>
    <div class="avatar avatar-large avatar-07"></div>
    <div class="avatar avatar-large avatar-08"></div>
    <div class="avatar avatar-large avatar-09"></div>
    <div class="avatar avatar-large avatar-10"></div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="avatar avatar-large avatar-11"></div>
    <div class="avatar avatar-large avatar-12"></div>
    <div class="avatar avatar-large avatar-13"></div>
    <div class="avatar avatar-large avatar-14"></div>
    <div class="avatar avatar-large avatar-15"></div>
    <div class="avatar avatar-large avatar-16"></div>
    <div class="avatar avatar-large avatar-17"></div>
    <div class="avatar avatar-large avatar-18"></div>
    <div class="avatar avatar-large avatar-19"></div>
    <div class="avatar avatar-large avatar-20"></div>
  </div>
</div>

<hr>

<h3>Implementation status</h3>

<div class="status">
  <div class="platform-name">
    <span>Web</span>
  </div>
  {% include status-not-started.html %}
</div>

<div class="status">
  <div class="platform-name">
    <span>iOS</span>
  </div>
  {% include status-not-started.html %}
</div>

<div class="status">
  <div class="platform-name">
    <span>Android</span>
  </div>
  {% include status-not-started.html %}
</div>

{% include pagination-links.html %}
