---
layout: default
section: Components
title: Navigation
previous: Modal dialogs
previous-path: components/modal-dialogs
next: Radio buttons
next-path: components/radio-buttons
---

<h2>{{ page.title }}</h2>
<span class="heading-border"></span>

<p>Content</p>

<hr>

<h3>Implementation status</h3>

<div class="status">
  <div class="platform-name">
    <span>Web</span>
  </div>
  {% include status-not-started.html %}
</div>

<div class="status">
  <div class="platform-name">
    <span>iOS</span>
  </div>
  {% include status-not-started.html %}
</div>

<div class="status">
  <div class="platform-name">
    <span>Android</span>
  </div>
  {% include status-not-started.html %}
</div>

{% include pagination-links.html %}
