---
layout: default
section: Components
title: Tabs
previous: Radio buttons
previous-path: components/radio-buttons
next: Toasts
next-path: components/toasts
---

<h2>{{ page.title }}</h2>
<span class="heading-border"></span>

<p>Tabs are an easy way to organize content by grouping similar information on the same page. This allows content to be viewed without having to navigate away from that page.</p>

<h4>Example</h4>
<div class="row">
  <div class="col">
    <img src="{{ site.baseurl }}images/pages/tabs/img-tabs-800.png" class="example-image-border" alt="Tabs anatomy example">
  </div>
</div>

<ol class="call-outs">
  <li><strong>Selected:</strong> The active tab.</li>
  <li><strong>Unselected:</strong> The other available tabs.</li>
  <li><strong>Divider:</strong> Separates the tab navigation and content.</li>
</ol>

<h3>Writing labels</h3>
<p>Labels should be as short as possible (three words max) to describe the content within the nav item. The page or header above the tabs should provide additional context so labels make sense to the user.</p>

<hr>

<h3>Implementation status</h3>

<div class="status">
  <div class="platform-name">
    <span>Design</span>
  </div>
  {% include status-in-progress.html %}
</div>

<div class="status">
  <div class="platform-name">
    <span>React</span>
  </div>
  {% include status-not-started.html %}
</div>

{% include pagination-links.html %}
